{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты - UP!{% endblock %}

{% block content %}
    <div class="content">
        <div class="info">
            <div class="block">
                <h2 class="title">Связь со мной</h2>
                <p>email: <span class="important-text">vlad.rasteryaev2006@gmail.com</span></p>
                <p>Телефон: <span class="important-text">+7 (952) 411-49-50</span></p>
            </div>
            <div class="block">    
                <h2 class="title">Социальные сети</h2>
                <div class="icons">
                    <a href="https://vk.com/ghostholeed"><i class="fa-brands fa-vk fa-3x"></i></a>
                    <a href="https://t.me/ghosthole"><i class="fa-brands fa-telegram fa-3x"></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}