{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="info">
            <div class="block">
                <h2 class="title">Обо мне</h2>
                <p>Меня зовут Владислав, я увлеченный <span class="important-text">хоубист</span>, стремлюсь к постоянному развитию и достижению новых высот в своей области. Мне нравится находить нестандартные решения, работать в команде и делиться знаниями.</p>
            </div>
            <div class="block">
                <h2 class="title">Моя профессия</h2>
                <p>Я начинающий веб-разработчик, специализируюсь на создании современных, удобных и функциональных веб-сайтов и приложений. Моя цель — создавать продукты, которые приносят пользу и вдохновляют пользователей.</p>
            </div>
            <div class="block">
                <h2 class="title">Мой опыт</h2>
                <p>За пару месяцев работы я успел реализовать проекты в таких областях, как маркетинг и образование. Мои навыки включают разработку сайтов с помощью HTML, CSS а также фреймворков Django и Bootstrap.</p>
            </div>
        </div>
    </div>    
{% endblock %}