{% extends 'base.html' %}
{% load static %}

{% block title %}Услуги - UP!{% endblock %}

{% block content %}
    <div class="content">
        <div class="info">
            <h3 class="title">Привет!</h3>
            <p> Меня зовут <span class="important-text">Владислав</span>, я начинающий веб-программист,увлеченный созданием удобных, современных и функциональных сайтов. Если вы ищете того, кто поможет воплотить ваши идеи в интернете – я здесь, чтобы помочь!</p>
            <h3 class="title">Мои услуги включают:</h3>
            <div class="columns">
                <div class="column">
                    <h2>Разработка лендингов и многостраничных сайтов</h2>
                    <p>Создаю адаптивные сайты, которые отлично выглядят и работают на любых устройствах.</p>
                </div>
                <div class="column">
                    <h2>Настройка и доработка существующих проектов</h2>
                    <p>Помогу исправить ошибки, улучшить функционал или обновить дизайн вашего сайта.</p>
                </div>
                <div class="column">
                    <h2>Вёрстка HTML/CSS и базовое программирование на JavaScript</h2>
                    <p>Кроссбраузерная и чистая вёрстка с учетом современных стандартов.</p>
                </div>
            </div>
            Каждое задание я выполняю с вниманием к деталям и индивидуальным подходом. Если вы хотите обсудить ваш проект, напишите мне – буду рад помочь вам сделать ваш сайт уникальным!
        </div>
    </div>
{% endblock %}