{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <h1 class="title">Главная</h1>
        <nav class="nav-bar">
            <a href="{% url 'index' %}"><p>Главная</p></a>
            <a href="{% url 'contacts' %}"><p>Контакты</p></a>
            <a href="{% url 'services' %}"><p>Услуги</p></a>
        </nav>
    </div>

    {% block content %}
    {% endblock %}
    <div class="down-info">
        <footer style="text-align: center;">©2024 Владислав Растеряев</footer>
    </div>
</body>
</html>